<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
        <script src="~/Scripts/jquery-3.1.1.js"></script>
    </body>
</html>
